<!doctype html>
{% load static %}
<html lang="">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <title>love_web</title>
    <script defer="defer" src="{% static 'js/chunk-vendors.753a7b68.js' %}"></script>
    <script defer="defer" src="{% static 'js/app.db63882d.js' %}"></script>
    <link href="{% static 'css/chunk-vendors.49ca379a.css' %}" rel="stylesheet">
    <link href="{% static 'css/app.1782a002.css' %}" rel="stylesheet">
</head>


<body>
    <noscript>
        <strong>We're sorry but love_web doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>

    <div id="app"></div>
</body>

</html>
